.image {
  display: flex;
  justify-content: space-between;
    max-height: 62%;
    max-width: 11%;
    position: absolute;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    float: none;
    -webkit-box-flex: unset;
    margin: 10px;
}

.imageContainer {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
